<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reliable.message.server.dao.ServerMessageMapper">



    <resultMap id="RM_ServerMessageData" type="com.reliable.message.common.domain.ServerMessageData">
        <result property="id" column="id"/>
        <result property="version" column="version"/>
        <result property="messageKey" column="message_key"/>
        <result property="messageTopic" column="message_topic"/>
        <result property="messageBody" column="message_body"/>
        <result property="messageVersion" column="message_version" />
        <result property="producerGroup" column="producer_group"/>
        <result property="producerMessageId" column="producer_message_id" />
        <result property="delayLevel" column="delay_level"/>
        <result property="sendTime" column="send_time" />
        <result property="status" column="status"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


    <sql id="update_sql">
        <set>
            <if test="version != null">
                version = #{version} ,
            </if>
            <if test="messageKey != null and messageKey != ''">
                message_key = #{messageKey} ,
            </if>
            <if test="messageTopic != null and messageTopic != ''">
                message_topic = #{messageTopic} ,
            </if>

            <if test="messageBody != null and messageBody != ''">
                message_body = #{messageBody} ,
            </if>

            <if test="producerGroup != null and producerGroup != ''">
                producer_group = #{producerGroup} ,
            </if>

            <if test="status != null">
                status = #{status} ,
            </if>


            <if test="sendTime != null">
                send_time = #{sendTime} ,
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime} ,
            </if>

        </set>
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
	        INSERT INTO message (
	        	id ,
	        	version ,
	        	message_topic ,
	        	message_body ,
	        	message_key,
	        	message_version,
	        	producer_message_id,
	        	producer_group ,
	        	delay_level,
	        	send_time,
	        	status ,
	        	update_time ,
	        	create_time
	        ) VALUES (
	        	#{id} ,
	        	#{version} ,
	        	#{messageTopic} ,
	        	#{messageBody} ,
	        	#{messageKey},
	        	#{messageVersion},
	        	#{producerMessageId} ,
	        	#{producerGroup} ,
	        	#{delayLevel},
	        	#{sendTime},
	        	#{status} ,
	        	#{updateTime} ,
	        	#{createTime}
	        )
	    ]]>
    </insert>


    <select id="getByProducerMessageId" parameterType="java.lang.String" resultMap="RM_ServerMessageData" >
            SELECT * FROM message WHERE producer_message_id = #{producerMessageId}
    </select>
    
    <update id="updateById" parameterType="com.reliable.message.common.domain.ServerMessageData"  >
        UPDATE message
        <include refid="update_sql" />
        WHERE
        id = #{id}
    </update>



    <select id="getServerMessageDataByParams" parameterType="com.alibaba.fastjson.JSONObject" resultMap="RM_ServerMessageData" >
        SELECT * FROM message WHERE status = #{status} AND send_time &lt; #{clearTime}
        AND MOD(id, #{shardingTotalCount}) = #{shardingItem}ORDER BY update_time ASC Limit 0, #{fetchNum}
    </select>


    <delete id="deleteServerMessageDataById" parameterType="java.lang.String" >
        DELETE FROM message where id = #{id}
    </delete>


    <select id="getWaitConfirmServerMessageData" parameterType="com.alibaba.fastjson.JSONObject" resultMap="RM_ServerMessageData" >
        SELECT * FROM message WHERE status = 10 AND send_time &lt; DATE_SUB(CURRENT_TIMESTAMP(),INTERVAL 1 MINUTE)
        AND MOD(id, #{shardingTotalCount}) = #{shardingItem} ORDER BY update_time ASC Limit 0, #{fetchNum}
    </select>


    <select id="getSendingMessageData" parameterType="com.alibaba.fastjson.JSONObject" resultMap="RM_ServerMessageData">
        SELECT * FROM message WHERE status = 20 AND send_time &lt; DATE_SUB(CURRENT_TIMESTAMP(),INTERVAL 1 MINUTE)
        AND MOD(id, #{shardingTotalCount}) = #{shardingItem} ORDER BY update_time ASC Limit 0, #{fetchNum}
    </select>

</mapper>