<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reliable.message.server.dao.MqMessageMapper">



    <resultMap id="RM_MqMessage" type="com.reliable.message.server.domain.TpcMqMessage">
        <result property="id" column="id"/>
        <result property="version" column="version"/>
        <result property="messageKey" column="message_key"/>
        <result property="messageTopic" column="message_topic"/>
        <result property="messageBody" column="message_body"/>
        <result property="messageType" column="message_type"/>
        <result property="producerGroup" column="producer_group"/>
        <result property="delayLevel" column="delay_level"/>
        <result property="orderType" column="order_type"/>
        <result property="status" column="status"/>
        <result property="taskStatus" column="task_status"/>
        <result property="updateTime" column="update_time"/>
        <result property="resendTimes" column="resend_times"/>
        <result property="dead" column="dead"/>
        <result property="nextExeTime" column="next_exe_time"/>
        <result property="yn" column="yn"/>
        <result property="creator" column="creator"/>
        <result property="creatorId" column="creator_id"/>
        <result property="createdTime" column="created_time"/>
        <result property="lastOperator" column="last_operator"/>
        <result property="lastOperatorId" column="last_operator_id"/>
    </resultMap>


    <sql id="columns">
        <![CDATA[
		id,version,message_key,message_topic,message_tag,message_body,message_type,producer_group,delay_level,order_type,status,task_status,update_time,resend_times,dead,next_exe_time,yn,creator,creator_id,created_time,last_operator,last_operator_id
	    ]]>
    </sql>


    <sql id="update_sql">
        <set>
            <if test="version != null">
                version = #{version} ,
            </if>
            <if test="messageKey != null and messageKey != ''">
                message_key = #{messageKey} ,
            </if>
            <if test="messageTopic != null and messageTopic != ''">
                message_topic = #{messageTopic} ,
            </if>

            <if test="messageBody != null and messageBody != ''">
                message_body = #{messageBody} ,
            </if>
            <if test="messageType != null">
                message_type = #{messageType} ,
            </if>
            <if test="producerGroup != null and producerGroup != ''">
                producer_group = #{producerGroup} ,
            </if>
            <if test="delayLevel != null">
                delay_level = #{delayLevel} ,
            </if>
            <if test="orderType != null">
                order_type = #{orderType} ,
            </if>
            <if test="status != null">
                status = #{status} ,
            </if>
            <if test="taskStatus != null">
                task_status = #{taskStatus} ,
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime} ,
            </if>
            <if test="resendTimes != null">
                resend_times = #{resendTimes} ,
            </if>
            <if test="dead != null">
                dead = #{dead} ,
            </if>
            <if test="nextExeTime != null">
                next_exe_time = #{nextExeTime} ,
            </if>
            <if test="yn != null">
                yn = #{yn} ,
            </if>
            <if test="creator != null and creator != ''">
                creator = #{creator} ,
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId} ,
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime} ,
            </if>
            <if test="lastOperator != null and lastOperator != ''">
                last_operator = #{lastOperator} ,
            </if>
            <if test="lastOperatorId != null">
                last_operator_id = #{lastOperatorId}
            </if>
        </set>
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
	        INSERT INTO message (
	        	id ,
	        	version ,
	        	message_key ,
	        	message_topic ,
	        	message_body ,
	        	message_type ,
	        	producer_group ,
	        	delay_level ,
	        	order_type ,
	        	status ,
	        	task_status ,
	        	update_time ,
	        	resend_times ,
	        	dead ,
	        	next_exe_time ,
	        	yn ,
	        	creator ,
	        	creator_id ,
	        	created_time ,
	        	last_operator ,
	        	last_operator_id
	        ) VALUES (
	        	#{id} ,
	        	#{version} ,
	        	#{messageKey} ,
	        	#{messageTopic} ,
	        	#{messageBody} ,
	        	#{messageType} ,
	        	#{producerGroup} ,
	        	#{delayLevel} ,
	        	#{orderType} ,
	        	#{status} ,
	        	#{taskStatus} ,
	        	#{updateTime} ,
	        	#{resendTimes} ,
	        	#{dead} ,
	        	#{nextExeTime} ,
	        	#{yn} ,
	        	#{creator} ,
	        	#{creatorId} ,
	        	#{createdTime} ,
	        	#{lastOperator} ,
	        	#{lastOperatorId}
	        )
	    ]]>
    </insert>


    <select id="getByMessageKey" parameterType="java.lang.String" resultMap="RM_MqMessage" >
            SELECT * FROM message WHERE message_key = #{messageKey}
    </select>
    
    <update id="updateById" parameterType="com.reliable.message.server.domain.TpcMqMessage"  >
        UPDATE message
        <include refid="update_sql" />
        WHERE
        id = #{id}
    </update>

</mapper>